<i
  class="bi bi-person-circle h-25 ms-4"
  style="font-size: 2rem; color: rgb(255, 255, 255)"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasRight"
  aria-controls="offcanvasRight"
></i>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Menu Adm</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="d-flex flex-column list-unstyled">
      <li class="mb-2">
        <i
          class="bi bi-house-fill"
          style="font-size: 1.7rem; color: rgb(83, 80, 80)"
        ></i>
      </li>
      <li class="mb-2">
        <i
          class="bi bi-person-circle"
          style="font-size: 1.7rem; color: rgb(83, 80, 80)"
        ></i>
      </li>
      <li class="mb-2">
        <i
          class="bi bi-house-fill"
          style="font-size: 1.7rem; color: rgb(83, 80, 80)"
        ></i>
      </li>
    </ul>
  </div>
</div>
