.table {
  background-color: rgb(235, 228, 232);
}

th {
  background-color: rgb(168, 157, 157);
  color: white;
  padding: 5px;
}

tr:hover{
  cursor: pointer;
  background-color: rgb(240, 202, 202);
  font-weight: 500;
  border-bottom: 2px solid rgb(46, 43, 43);
}

i {
  padding: 3px;
  border-radius: 5px;
}

i:hover {
  background-color: rgb(201, 157, 181);
  color: white;
}

.div_icone {
  border-left: 1px solid white;
  /* height: max-content; */
}

div.scroll {
  height: 50vh;
  overflow-x: hidden;
}

td {
  word-break: break-word;
}

