<div class="d-flex align-items-center">
  <div class="navbar navbar-light col-4">
    <div class="container-fluid">
      <a id="img_container" class="navbar-brand fs-2" href="#">
        <img
          src="../../../assets/logo.png"
          alt=""
          width="80"
          class="d-inline-block rounded-circle"
        />
        <span class="d-none d-md-block">Frases Musicais</span>
      </a>
    </div>
  </div>
  <div class="d-flex col-8 justify-content-end">
    <form class="d-flex me-2">
      <input
        class="form-control form-control-lg h-25"
        type="search"
        placeholder="Buscar Artista"
        aria-label="Search"
      />
      <button class="btn btn-header ms-1" type="submit">Buscar</button>

      <input
        class="form-control form-control-lg h-25 ms-4"
        type="search"
        placeholder="Buscar Frase"
        aria-label="Search"
      />
      <button class="btn btn-header ms-1" type="submit">Buscar</button>

      <app-menu-lateral-adm></app-menu-lateral-adm>
    </form>
  </div>
</div>
