#img_container {
  font-family: Jazz LET, fantasy;
}

.btn-header {
  background-color: rgb(176, 142, 207);
  color: white;
}

.btn-header:hover {
  cursor: pointer;
  background-color: rgb(252, 251, 253);
  color: rgb(36, 35, 35);
}
