<form>
  <div class="row">
    <div class="navbar navbar-light col-3">
      <div class="d-flex flex-column justify-content-center">
        <a id="img_container" class="navbar-brand mx-auto" href="#">
          <img
            src="../../../assets/logo.png"
            alt=""
            width="80"
            class="d-inline-block rounded-circle"
          />
        </a>
        <span class="fw-bold font-monospace fs-5">Frases Musicais</span>
      </div>
    </div>

    <div class="col-8 d-flex h-25 align-self-center">
      <div class="row">
        <div class="col-md-5 d-flex m-1">
          <input
            class="form-control form-control-lg"
            type="search"
            placeholder="Artista"
            aria-label="Search"
          />
          <button class="btn btn-header ms-1" type="submit">Buscar</button>
        </div>
        <div class="col-md-5 d-flex m-1">
          <input
            class="form-control form-control-lg"
            type="search"
            placeholder="Frase"
            aria-label="Search"
          />
          <button class="btn btn-header ms-1" type="submit">Buscar</button>
        </div>
      </div>
      <div class="col-1 d-flex h-25 align-self-center">
        <app-menu-lateral-adm></app-menu-lateral-adm>
      </div>
    </div>
  </div>
</form>
