<i
  *ngIf="!rotaAdmin"
  class="bi bi-person-circle h-25 ms-4"
  style="font-size: 2rem; color: rgb(255, 255, 255)"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasRight"
  aria-controls="offcanvasRight"
></i>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Menu Adm</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="d-flex flex-column list-unstyled">
      <li class="mb-2">
        <span (click)="cadastrarFrase()">
          <i class="bi bi-file-earmark-plus">
            <span class="offset-1">Cadastrar Frase</span>
          </i>
        </span>
      </li>
      <!-- <a href="/admin/cadastro">popopo</a> -->
      <li class="mb-2">
        <span (click)="alterarExcluirFrase()">
          <i class="bi bi-pencil-square">
            <span class="offset-1">Alterar/Excluir Frase</span>
          </i>
        </span>
      </li>
      <li class="mb-2">
        <i class="bi bi-info-circle"></i>
      </li>
    </ul>
  </div>
</div>
