<div
  class="card mx-auto mb-1 m-t2"
  style="background-color: rgba(245, 245, 245, 0.6)"
  *ngFor="let frase of frases"
>
  <div class="card-body">
    <h5 class="card-title">{{ frase.artista.nome }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ frase.nome_musica }}</h6>
    <p class="card-text fw-bold font-monospace">
      {{ frase.texto }}
    </p>
    <div
      class="offset-10 d-flex align-items-center"
      data-bs-toggle="tooltip"
      title="Nome da música"
    >
      <a href="{{ frase.link_video }}" target="_blank" class="card-link">
        <span class="d-none d-lg-inline me-1 text-danger">You Tube</span>
        <i class="bi bi-youtube" style="font-size: 1.4rem; color: red"></i>
      </a>
    </div>
  </div>
</div>
