<i
  *ngIf="!rotaAdmin"
  class="bi bi-person-circle h-25 ms-4"
  style="font-size: 2rem; color: rgb(255, 255, 255)"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasRight"
  aria-controls="offcanvasRight"
></i>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel" class="align-items-center">Entrar</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex flex-column">
      <input type="text" class="form-control mb-2" placeholder="Usuário" />
      <input type="text" class="form-control mb-2" placeholder="Senha" />
      <button type="button" class="btn btn-primary" (click)="cadastrarFrase()">
        Logar
      </button>
    </div>
  </div>
</div>
